<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('css_static', filename='style.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="text-center">
	
	<div style="padding-top: 30px;" class="container-fluid">
		<span class="emoji">💜</span>
		<h1 class="h3 mb-3 font-weight-normal">Welcome my icon-generator v.1 &#128540;</h1>

	</div>
	<row>
		<button id="generate"  type="button" class="btn btn-primary">Generate</button>
		<a href="/return-files/" target="blank"><button id="download" type="button" class="btn btn-success">Download</button></a>
	</row>

	<form style="padding-top: 30px;" id="uploadform" method="post" enctype="multipart/form-data">
			<br />
		    <img style="padding-top: 15px;" class="mb-4" id="image"></body>
		</form>

	</div>

	<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="{{url_for('js_static', filename='app.js')}}"></script>
</body>
</html>